*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.grid{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 5% 1fr 5%;
    grid-template-areas: "picker dropdown dropdown dropdown . "
                         "shades shades shades shades shades"
                         "footer footer footer footer footer";
    row-gap: 0.25em;
}

.container{
    display: flex;
}
.colour-shade{
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
}

.colour-shade:hover{
    opacity: 0.8;
    cursor: pointer;
}

/* Grid template */
#seed-picker{
    grid-area: picker;
    align-self: center;
    justify-self: center;
}
#mode-list{
    grid-area: dropdown;
    margin-right: 1em;
}

#shades-container{
    grid-area: shades;
}

footer{
    grid-area: footer;
    align-items: center;
    justify-content: center;
}
